<h1>Parcels</h1>
<div [innerHTML]="print | sanitizeHtml"></div>
<br>
<fieldset>
  <legend>Add:</legend>
  <input type="submit" id="add" name="add" (click)="addParcel()" value="+">
</fieldset>

<fieldset>
  <legend>Find/Remove:</legend>
  <label for="add">Id:</label>
  <input #box
  (keyup.enter)="update(box.value)"
  (blur)="update(box.value)">
  <input type="submit" id="add" name="add" (click)="printParcels()" value="🔎">
  <input type="submit" id="remove" name="remove" (click)="removeParcel()" value="-">
</fieldset>